html {
  height: 100%;
}

body {
  height: 100%;
  background: #EEE;
  margin: 0;
}

// Header content
header {
  width: 100%;
  height: 220px;
  background-image: url('./../img/header.jpg');
  background-size: cover;
  background-position: center;
}

// Main content
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.perfil-img {
  width: 140px;
  height: 140px;
  margin-top: -75px;
  padding: 5px;
  background: #FFF;
  border-radius: 100%;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  img {
    width: 100%;
    border-radius: 100%;
  }
}

.perfil-bio {
  font-family: 'Dosis-Regular', sans-serif;
  font-size: 1.2rem;
  text-align: center;
  width: 500px;
  color: #222;
  margin: 1rem 0;
  padding-bottom: 2rem;
}

// Footer content
footer {
  display: flex;
  justify-content: center;

  .social {
    display: flex;
    justify-content: center;
    width: 500px;
    padding: 1rem 0;
    border-top: 1px solid #CCC;

    a {
      text-decoration: none;
      margin: 0 .3rem;
      
      .fa {
        font-size: 1.5rem;
        color: #333;
        padding: .2rem;
      }
  
      &:hover {
        .fa {
          color: #222;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  header {
    height: 170px;
  }

  .perfil-img {
    width: 120px;
    height: 120px;
    margin-top: -65px;
  }

  .perfil-bio {
    font-size: 1rem;
    width: 90%;
  }

  footer {
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}